<table class="table table-striped">
    <tbody class="placeholder-box">
        <tr *ngFor="let loading of skeletonLoading; let i = index">
            <th class="placeholder-glow"><span class="placeholder placeholder-lg bg-secondary"></span></th>
            <th class="placeholder-glow"><span class="placeholder placeholder-lg bg-secondary"></span></th>
            <th class="placeholder-glow"><span class="placeholder placeholder-lg bg-secondary"></span></th>
            <th class="placeholder-glow"><span class="placeholder placeholder-lg bg-secondary"></span></th>
        </tr>
    </tbody>
</table>