<aside class="aside">
    <div class="logo-box py-3 mx-3 d-flex align-items-center justify-content-center">
        <a routerLink="/">
            <i class="fa-solid fa-face-laugh-wink text-white"></i>
            <span class="text-white ms-2 fw-bold">UniQue</span>
        </a>
    </div>
    <ul class="aside-list list-unstyled mt-5">
        <li class="px-3 mb-4">
            <a routerLink="products" routerLinkActive="active" class="text-decoration-none">
                <i class="fa-solid fa-table me-1"></i> Products
            </a>    
        </li>
        <li class="px-3 mb-4">
            <a routerLink="categories" routerLinkActive="active" class="text-decoration-none">
                <i class="fa-solid fa-list me-1"></i> Categories
            </a>    
        </li>
        <li class="px-3 mb-4">
            <a routerLink="brands" routerLinkActive="active" class="text-decoration-none">
                <i class="fa-brands fa-dropbox"></i> Brands
            </a>    
        </li>
    </ul>
</aside>