<ng-component appPlaceholderDirective></ng-component>

<section class="categories-panel">
    <div class="header-tabel d-flex justify-content-between border-bottom mb-4 pb-4">
        <h3>Categories</h3>
        <button (click)="openModal('add')" class="btn btn-primary">Add New Category</button>
    </div>
    <ng-component *ngIf="!isLoading; else loading;">
        <table *ngIf="!isError; else error;" class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">name</th>
                    <th scope="col">Image</th>
                    <th scope="col">Info</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let category of categoriesList; let i = index; ">
                    <td scope="row">{{i + 1}}</td>
                    <td scope="row">{{category.name}}</td>
                    <td scope="row">
                        <img [src]="category.image" height="50" width="50" />
                    </td>
                    <td>
                        <a (click)="openModal('edit', category, i)" class="me-3">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                        <a (click)="openModal('delete', category, i)">
                            <i class="fa-solid fa-trash text-danger"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </ng-component>
</section>

<!-- Show When Api's Still Fetching -->
<ng-template #loading>
   <app-loading></app-loading>
</ng-template>

<!-- Show When Has Error Occurred -->
<ng-template #error>
    <div class="d-flex justify-content-center">
        <img src="../../../assets/images/admin/error-img.svg" height="400" width="400">
    </div>
</ng-template>