
<div class="row justify-content-center mt-4">
    <div class="col-md-10">
        <div class="placeholder-auth">
            <div class="card-body">
                <div class="card-item mb-3">
                    <h5 class="card-title placeholder-glow mb-1">
                        <span class="placeholder bg-secondary d-block"></span>
                    </h5>
                    <p class="card-input placeholder-glow mb-0">
                        <span class="placeholder bg-secondary d-block"></span>
                    </p>
                </div>
                <div class="card-item mb-3">
                    <h5 class="card-title placeholder-glow mb-1">
                        <span class="placeholder bg-secondary d-block"></span>
                    </h5>
                    <p class="card-input placeholder-glow">
                        <span class="placeholder bg-secondary d-block"></span>
                    </p>
                </div>
                <div class="card-item mb-3">
                    <h5 class="card-title placeholder-glow mb-1">
                        <span class="placeholder bg-secondary d-block"></span>
                    </h5>
                    <p class="card-input placeholder-glow">
                        <span class="placeholder bg-secondary d-block"></span>
                    </p>
                </div>
                <div class="card-btn mt-4">
                    <p class="placeholder-glow">
                        <span class="placeholder bg-secondary d-block"></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>